
.sidebar-container{
    width:250px;
    background-color: black;
    color:black;
    height: 100vh;  
    padding: 0;
    top: 0;
  }
  
  .sidebar-container .sidebar-options{
    color: #e1e9fc;;
    text-align: left;
    padding: 15px;
    vertical-align: middle;
    display: flex;    
    justify-content: space-between;    
    cursor: pointer;    
  }
  
  .sidebar-container .sidebar-options:hover{
    background-color:#5570ae;
    color: white;
  }
  
  .sidebar-container .sidebar-options span{
  padding: 15px 15px 20px 0px;
  color: white;
  font-size: small;
  }
  .sidebar-container .submenu-sidebar-options{
    color: #e1e9fc;;
    text-align: left;
    padding: 15px;
    vertical-align: middle;
    display: flex;       
    cursor: pointer;
    padding-left: 55px;   
  }
  
  .sidebar-container .submenu-sidebar-options:hover{
    background-color:#5570ae;
    color: white;     
    border-left: 5px solid red;
  }


  .sidebar-container-only-icon{
    width:70px;
    background-color: black;
    color:black;
    height: 100vh;  
    padding: 0;
    top: 0;
  }

  .sidebar-container-only-icon .sidebar-options{
    color: #e1e9fc;;
    text-align: left;
    padding: 15px;
    vertical-align: middle;
    display: flex;    
    justify-content: space-between;    
    cursor: pointer;    
  }
  
  .sidebar-container-only-icon .sidebar-options:hover{
    background-color:#5570ae;
  }